## Deliverable 3. Create a Travel Itinerary Map.

In [42]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [43]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,6,Hilo,US,89.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,8,Kasrawad,IN,83.91,clear sky,22.1333,75.6000,Hotel Aashray
2,9,Sibolga,ID,77.40,broken clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
3,10,Atuona,PF,77.54,clear sky,-9.8000,-139.0333,Villa Enata
4,13,Cayenne,GF,75.09,few clouds,4.9333,-52.3333,Hôtel Le Dronmi

In [44]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [45]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"]=="China"]
vacation_end = vacation_df.loc[vacation_df["City"]=="China"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Coahuayana"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="La Orilla"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Petatlan"]

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

# Convert array to tuple
# Source: https://stackoverflow.com/questions/10016352/convert-numpy-array-to-tuple
start = tuple(start.reshape(1,-1)[0])
end = tuple(end.reshape(1,-1)[0])
stop1 = tuple(stop1.reshape(1,-1)[0])
stop2 = tuple(stop2.reshape(1,-1)[0])
stop3 = tuple(stop3.reshape(1,-1)[0])

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
mexico_trip = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],
                                          travel_mode='DRIVING')
fig.add_layer(mexico_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,524,China,MX,81.66,broken clouds,25.7000,-99.2333,González Reyes Artemio
1,150,Coahuayana,MX,81.90,few clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
2,442,La Orilla,MX,80.38,broken clouds,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
3,496,Petatlan,MX,85.80,few clouds,17.5167,-101.2667,Hotel California Petatlán
4,524,China,MX,81.66,broken clouds,25.7000,-99.2333,González Reyes Artemio

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))